# ignore consent csv  files and bonus  csv files
keypress_data/
analysis_results/passive/modelfit/
analysis_results/active/modelfit/
analysis_code/data/*/consent*.csv
analysis_code/data/*/bonus*.csv
analysis_code/parse_data.py
analysis_code/manual_check.py
original_data_backup/
**/__pycache__/
**/.ipynb_checkpoints/
/others/
/figures/
**/.Rhistory
