# ignore consent csv  files and bonus  csv files
.DS_Store
analysis_results/passive/modelrep/
analysis_results/active/modelrep/
keypress_data/
analysis_results/timing/modelfit/
analysis_results/passive/backup/
analysis_results/active/backup/
analysis_results/passive/modelfit_hm/
analysis_results/active/modelfit_hm/
analysis_results/passive/modelfit/
analysis_results/active/modelfit/
analysis_code/data/*/consent*.csv
analysis_code/data/*/bonus*.csv
analysis_code/parsedata.py
analysis_code/parse_single_datafile.py
analysis_code/manual_check.py
original_data_backup/
**/__pycache__/
**/.ipynb_checkpoints/
/others/
/figures/
**/.Rhistory
