# ignore consent csv  files and bonus  csv files
analysis-code/data/consent*.csv
analysis-code/data/bonus*.csv
analysis-code/parse_data.py
analysis-code/manual_check.py
original_data_backup/
**/__pycache__/
**/.ipynb_checkpoints/*
/others/
